<div class="page">
    <div class="page-header">
        <app-nav-bar></app-nav-bar>
    </div>
    <div class="page-content">
        <h1>Würfel Challenge</h1>
        <div class="btn-list">
            <button (click)="getScore()" [disabled]="isGettingScore"><img src="assets/icons/dice.png" [ngClass]="{'animate-rotate': !isGettingScore}"></button>
            <app-number [value]="score" [decimals]="0" [max]="maxValue" [width]="5" class="challenge" [ngClass]="{progress: isGettingScore}"></app-number>
        </div>
    </div>
</div>
