<button [ngClass]="{checked: team === 0}" (click)="team=0" class="yellow">Renault</button>
<button [ngClass]="{checked: team === 1}" (click)="team=1" class="red">Ferrari</button>
<button [ngClass]="{checked: team === 2}" (click)="team=2" class="green">Lotus</button>
<button [ngClass]="{checked: team === 3}" (click)="team=3" class="blue">BMW</button>
<button [ngClass]="{checked: team === 4}" (click)="team=4" class="violet">Honda</button>
<button [ngClass]="{checked: team === 5}" (click)="team=5" class="black">Mercedes</button>
