<div class="page">
    <div class="page-header">
        <app-nav-bar>
            <div class="btn-list">
                <button class="silent" [ngClass]="{checked: isHorn()}" (click)="horn()"><img src="assets/icons/horn.png"></button>
                <button [disabled]="!isDriving()" (click)="stop()"><img src="assets/icons/traffic_lights_red.png"></button>
            </div>
        </app-nav-bar>
    </div>
    <div class="page-content">
        <div *ngIf="!diceThrown && alive">
            <button (click)="throwDice()"><img src="assets/icons/dice.png" class="animate-rotate"></button>
        </div>
        <div *ngIf="diceThrown" class="form">
            <label><img src="assets/icons/arrow_turn_right.png">Kurve</label>
            <button (click)="selectCurve()"><span *ngIf="currentCurve !== undefined">{{currentCurve}}</span><img *ngIf="currentCurve === undefined" src="assets/icons/arrow_up.png"></button>
            <label><img src="assets/icons/dashboard.png">Max. Geschw.</label>
            <div class="btn-list">
                <app-number [value]="maxSpeedInCurve" [decimals]="0"></app-number>
                <button *ngIf="canArmCurvesJoker() && !isCurvesJokerArmed()" class="silent" (click)="armCurvesJoker()"><img src="assets/icons/dynamite.png"></button>
                <div *ngIf="curvesJokerNoFx"><img src="assets/icons/snail.png" class="blink-warn"></div>
                <div *ngIf="curvesJokerFailure"><img src="assets/icons/caution_high_voltage.png" class="blink-critical"></div>
            </div>
            <label><img src="assets/icons/dashboard.png">Geschw. wählen</label>
            <div class="btn-list">
                <button *ngIf="canArmBrakeJoker && !isBrakeJokerArmed" class="silent" (click)="armBrakeJoker()"><img src="assets/icons/dynamite.png"></button>
                <div *ngIf="brakeJokerFailure"><img src="assets/icons/caution_high_voltage.png" class="blink-critical"></div>
                <div class="btn-group">
                    <button *ngFor="let s of nextSpeedOptions" [ngClass]="{checked: nextSpeed === s}" (click)="nextSpeed = s">{{s}}</button>
                </div>
                <button *ngIf="canArmSpeedJoker && !isSpeedJokerArmed" class="silent" (click)="armSpeedJoker()"><img src="assets/icons/dynamite.png"></button>
                <div *ngIf="speedJokerNoFx"><img src="assets/icons/snail.png" class="blink-warn"></div>
                <div *ngIf="speedJokerFailure"><img src="assets/icons/caution_high_voltage.png" class="blink-critical"></div>
            </div>
        </div>
        <button *ngIf="diceThrown && hasSpeedOptions" [disabled]="!canGo()" (click)="go()"><img src="assets/icons/arrow_up.png" class="animate-jump">Fahren<img src="assets/icons/arrow_up.png" class="animate-jump"></button>
        <button *ngIf="diceThrown && !hasSpeedOptions" (click)="giveUp()"><img src="assets/icons/fire.png" class="blink-critical">Aufgeben</button>
    </div>
    <div class="page-footer">
        <!--
        <div class="footer-item">
            <label><img src="assets/icons/gas.png">Tank</label>
            <app-number [value]="fuel" [decimals]="0" [thresholds]="[2,5]"></app-number>
        </div>
        -->
        <div class="footer-item">
            <label><img src="assets/icons/dashboard.png">Geschwindigkeit</label>
            <app-number [value]="speed" [decimals]="0"></app-number>
        </div>
        <div class="footer-item">
            <label><img src="assets/icons/heart.png">Motor</label>
            <app-health [health]="motorHealth"></app-health>
        </div>
        <div class="footer-item">
            <label><img src="assets/icons/tire.png">Reifen</label>
            <app-health [health]="tiresHealth"></app-health>
        </div>
    </div>
</div>
<app-dialog title="Curve">
    <h1>Kurve wählen</h1>
    <div class="btn-group">
        <button *ngFor="let c of curves" [ngClass]="{checked: currentCurve === c}" (click)="currentCurve = c">{{c}}</button>
    </div>
    <button [ngClass]="{checked: currentCurve === undefined}" (click)="currentCurve = undefined"><img src="assets/icons/arrow_up.png"></button>
</app-dialog>