<div class="page">
    <div class="page-header">
        <app-nav-bar>
            <div class="btn-list">
                <div *ngIf="!isDriving()" class="btn-group">
                    <button (click)="startQualifying()"><img src="assets/icons/stopwatch_start.png"></button>
                    <button (click)="startRace()"><img src="assets/icons/flag_finish.png"></button>
                </div>
                <button *ngIf="isDriving()" (click)="stop()"><img src="assets/icons/traffic_lights_red.png"></button>
                <button class="silent" [ngClass]="{checked: isHorn()}" (click)="horn()"><img src="assets/icons/horn.png"></button>
            </div>
        </app-nav-bar>
    </div>
    <div class="page-content">
        <app-parcour-canvas [race-mode]="true"></app-parcour-canvas>
    </div>
</div>
<app-dialog #question title="Frage">
    <h1>Notbremse</h1>
    <p>Möchtest du wirklich eine Notbremse machen und zum Stillstand kommen? Diese Aktion ist während eines Rennens nicht erlaubt.</p>
</app-dialog>