<div class="page">
    <div class="page-header">
        <app-nav-bar>
            <button *ngIf="needsRepair()" (click)="repair()"><img src="assets/icons/wrench_orange.png"> Reparieren</button>
            <button (click)="about()"><img src="assets/icons/help.png"></button>
        </app-nav-bar>
    </div>
    <div class="page-content">
        <table>
            <tr>
                <td>
                    <label><img src="assets/icons/tire.png">Reifen</label>
                </td>
                <td class="btn-group">
                    <button [ngClass]="{checked: car.tires === 1}" (click)="car.tires = 1"><img src="assets/icons/weather_sun.png"></button>
                    <button [ngClass]="{checked: car.tires === 0}" (click)="car.tires = 0"><img src="assets/icons/weather_rain.png"></button>
                </td>
            </tr>
            <tr>
                <td>
                    <label><img src="assets/icons/windy.png">Spoiler</label>
                </td>
                <td class="btn-group">
                    <button [ngClass]="{checked: car.flaps === 0}" (click)="car.flaps = 0">10 °</button>
                    <button [ngClass]="{checked: car.flaps === 1}" (click)="car.flaps = 1">20 °</button>
                    <button [ngClass]="{checked: car.flaps === 2}" (click)="car.flaps = 2">30 °</button>
                </td>
            </tr>
            <tr>
                <td>
                    <label><img src="assets/icons/gear_in.png">Getriebe</label>
                </td>
                <td class="btn-group">
                    <button [ngClass]="{checked: car.gear === 0}" (click)="car.gear = 0">Beschleunigung</button>
                    <button [ngClass]="{checked: car.gear === 1}" (click)="car.gear = 1">Neutral</button>
                    <button [ngClass]="{checked: car.gear === 2}" (click)="car.gear = 2">Geschwindigkeit</button>
                </td>
            </tr>
            <tr hidden="hidden">
                <td>
                    <label><img src="assets/icons/gas.png">Treibstoff</label>
                </td>
                <td>
                    <button [ngClass]="{disabled: !canDecFuel()}" (click)="decFuel()"><img src="assets/icons/delete.png"></button>
                    <input type="number" readonly="readonly" value="{{car.fuel}}" size="2">
                    <button [ngClass]="{disabled: !canIncFuel()}" (click)="incFuel()"><img src="assets/icons/add.png"></button>
                </td>
            </tr>
            <tr>
                <td>
                    <label><img src="assets/icons/fire.png">Qualität</label>
                </td>
                <td>
                    <div class="btn-group">
                        <button [ngClass]="{checked: car.durability === 0}" (click)="car.durability = 0">Niedrig</button>
                        <button [ngClass]="{checked: car.durability === 1}" (click)="car.durability = 1">Neutral</button>
                        <button [ngClass]="{checked: car.durability === 2}" (click)="car.durability = 2">Hoch</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="page-footer">
        <div class="footer-item">
            <label><img src="assets/icons/dashboard.png">Geschwindigkeit <b>{{car.maxSpeed}}</b></label>
        </div>
        <div class="footer-item">
            <label><img src="assets/icons/dashboard.png">Kurven <b>{{avgSpeedInCurve | number:'1.1-1'}}</b></label>
        </div>
        <div class="footer-item">
            <label><img src="assets/icons/dashboard.png">Beschleunigung <b>{{avgAcceleration | number:'1.1-1'}}</b></label>
        </div>
    </div>
</div>
<app-dialog>
    <div>
        <h2>Reifen</h2>
        <p>Das Auto beschleunigt und fährt schneller, wenn die Reifen auf das Wetter abgestimmt sind.</p>
        <h2>Spoiler</h2>
        <p>Je höher der Wert, desto schneller ist das Auto in der Kurve aber desto niedriger ist die Höchstgeschwindigkeit.</p>
        <h2>Getriebe</h2>
        <p>Je höher die Beschleunigung, desto niedriger die Höchstgeschwindigkeit und umgekehrt.</p>
        <h2>Qualität</h2>
        <p>Je höher die Qualität ist, desto niedriger ist die Beschleunigung und Geschwindigkeit, aber umso höheres <img src="assets/icons/dynamite.png"> Risiko kann eingegangen werden.</p>
    </div>
</app-dialog>
