<div class="page">
    <div class="page-header">
        <app-nav-bar>
            <div *ngIf="!driving" class="btn-list">
                <button (click)="clear()" [disabled]="!canClear"><img src="assets/icons/bin.png"></button>
            </div>
        </app-nav-bar>
    </div>
    <div class="page-content row">
    	<div class="inset">
	    	<app-parcour-canvas></app-parcour-canvas>
    	</div>
    	<div>
			<div class="form inset">
	            <label><img src="assets/icons/flag_finish.png">Runden</label>
	            <div class="btn-group">
	                <button (click)="decRounds()" [disabled]="!canDecRounds"><img src="assets/icons/delete.png"></button>
	                <app-number [value]="rounds" [max]="20" [decimals]="0" [width]="2"></app-number>
	                <button (click)="incRounds()" [disabled]="!canIncRounds"><img src="assets/icons/add.png"></button>
	            </div>
	    	</div>
       	</div>
    </div>
</div>
