<div class="nav-bar">
    <div class="btn-group nav-item">
        <button routerLink="/dice" routerLinkActive="checked"><img src="assets/icons/dice.png"></button>
        <button routerLink="/team" routerLinkActive="checked"><img src="assets/icons/user_racer.png"></button>
        <button routerLink="/weather" routerLinkActive="checked"><img src="assets/icons/weather_cloudy.png"></button>
        <button routerLink="/parcour" routerLinkActive="checked"><img src="assets/icons/map.png"></button>
        <button routerLink="/carSetup" routerLinkActive="checked"><img src="assets/icons/wrench_orange.png"></button>
        <button routerLink="/race" routerLinkActive="checked"><img src="assets/icons/steering_wheel_racing.png"></button>
    </div>
    <div class="nav-item">
        <ng-content></ng-content>
    </div>
    <div class="btn-group nav-item">
        <button routerLink="/settings" routerLinkActive="checked"><img src="assets/icons/cog.png"></button>
        <button routerLink="/about" routerLinkActive="checked"><img src="assets/icons/information.png"></button>
        <button (click)="toggleFullscreen()">
            <img *ngIf="!fullscreen" src="assets/icons/panel_resize.png">
            <img *ngIf="fullscreen" src="assets/icons/panel_resize_actual.png">
        </button>
    </div>
</div>