// variables

$fontFamily: Segoe UI, sans-serif;
$fontSize: 1rem;
$boxShadow: .6rem;
$boxShadow2: 1.5rem;
$buttonTextShadow: .6rem;
$borderRadius: .25rem;

// animations

@keyframes warning {
    from {
        transform: scale(1.2) translate(0px, -4px);
    }

    to {
    }
}

.blink-warn {
    animation-name: warning;
    animation-duration: .8s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes critical {
    from {
        transform: scale(1.4) translate(0px, -4px);
    }

    to {
    }
}

.blink-critical {
    animation-name: critical;
    animation-duration: .4s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

// global

body, h1, h2, label, div.label, button, a {
    font-family: $fontFamily;
}

body {
    margin: 0px;
    padding: 0px;
}

.app {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    margin: 0px;
    padding: 0px;
}

canvas {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin: 0px;
}

// page

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    top: 0px;
}

.page-header {
    flex-grow: 0;
}

.page-footer {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.page-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
}

.page-content h1 {
    margin: 0px;
}

.footer-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
}

// nav-bar

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}

.nav-item {
    margin: .4rem;
}

// dialog

.dialog {
    background-color: #ffffff;
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0rem;
    padding: .4rem;
    z-index: 3;
    overflow: auto;

    h1 {
        margin: .4rem;
    }

    h2 {
        font-weight: bold;
        margin: .2rem;
        margin-top: .3rem;
        margin-bottom: .1rem;
    }
}

.dialog[hidden] {
    display: none !important;
}

// buttons

button, a.button {
    color: black;
    background: rgb(193,198,200);
    background: radial-gradient(circle, rgba(193,198,200,1) 0%, rgba(134,143,153,1) 100%);
}

button.checked, a.button.checked {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(208,208,208,1) 100%);
    box-shadow: 0px 0px $boxShadow white;
    border-color: white;
}

a.disabled, button.disabled, input.disabled, button[disabled], input[disabled], a[disabled] {
    opacity: .5;
}

.btn-group {
    display: inline-flex;
}

.btn-group button, .btn-group a.button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-left-style: none;
}

.btn-group button:first-child, .btn-group a.button:first-child {
    border-left-style: solid;
}

img {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    vertical-align: middle;
}

input {
    background-color: white;
}

input.challenge {
    font-size: $fontSize * 2;
    text-align: center;
    width: 5em;
}

input, button, a.button {
    border: 1px solid black;
    font-family: $fontFamily;
    display: inline-block;
    box-shadow: .1rem .1rem $boxShadow black;
    outline: 0px none black;
}

.yellow {
    color: black;
    background: rgb(255,212,0);
    background: radial-gradient(circle, rgba(255,212,0,1) 0%, rgba(215,179,0,1) 100%);
}

.yellow.checked {
    background: rgb(255,244,203);
    background: radial-gradient(circle, rgba(255,244,203,1) 0%, rgba(255,219,44,1) 100%);  
    border-color: #FFF1BF;
    box-shadow: 0px 0px $boxShadow2 #FFF1BF;
    text-shadow: 0px 0px $buttonTextShadow white;
}

.red {
    color: black;
    background: rgb(255,4,0);
    background: radial-gradient(circle, rgba(255,4,0,1) 0%, rgba(214,3,0,1) 100%);
}

.red.checked {
    background: rgb(255,92,90);
    background: radial-gradient(circle, rgba(255,111,109,1) 0%, rgba(255,37,34,1) 100%);
    border-color: #FFB2B2;
    box-shadow: 0px 0px $boxShadow2 #FFB2B2;
    text-shadow: 0px 0px $buttonTextShadow white;
}

.green {
    color: black;
    background: rgb(21,194,0);
    background: radial-gradient(circle, rgba(21,194,0,1) 0%, rgba(26,130,13,1) 100%);
}

.green.checked {
    background: rgb(158,255,147);
    background: radial-gradient(circle, rgba(158,255,147,1) 0%, rgba(21,194,0,1) 100%);
    border-color: #A3E599;
    box-shadow: 0px 0px $boxShadow2 #A3E599;
    text-shadow: 0px 0px $buttonTextShadow white;
}

.blue {
    color: white;
    background: rgb(44,47,224);
    background: radial-gradient(circle, rgba(44,47,224,1) 0%, rgba(47,48,110,1) 100%);
}

.blue.checked {
    color: black;
    background: rgb(159,161,255);
    background: radial-gradient(circle, rgba(159,161,255,1) 0%, rgba(64,67,236,1) 100%);
    border-color: #BFC0EF;
    box-shadow: 0px 0px $boxShadow2 #BFC0EF;
    text-shadow: 0px 0px $buttonTextShadow white;
}

.violet {
    color: white;
    background: rgb(128,26,224);
    background: radial-gradient(circle, rgba(128,26,224,1) 0%, rgba(69,32,103,1) 100%);
}

.violet.checked {
    color: black;
    background: rgb(207,157,255);
    background: radial-gradient(circle, rgba(207,157,255,1) 0%, rgba(159,56,255,1) 100%);
    border-color: #CEBAE2;
    box-shadow: 0px 0px $boxShadow2 #CEBAE2;
    text-shadow: 0px 0px $buttonTextShadow white;
}

.black {
    color: white;
    background: rgb(50,50,50);
    background: radial-gradient(circle, rgba(50,50,50,1) 0%, rgba(0,0,0,1) 100%);
}

.black.checked {
    color: black;
    background: rgb(159,159,159);
    background: radial-gradient(circle, rgba(159,159,159,1) 0%, rgba(135,135,135,1) 44%, rgba(57,57,57,1) 100%);
    border-color: #CCCCCC;
    box-shadow: 0px 0px $boxShadow2 #CCCCCC;
    text-shadow: 0px 0px $buttonTextShadow white;
}

label, div.label {
    display: inline;
    text-shadow: 1px 1px 1px white;

    img {
        margin-right: .4rem;
    }
}

h1 {
    text-shadow: 1px 1px 1px white;
}

p {
    margin: 0px;
    padding: 0px;
    text-align: justify;
}

table {
    border-collapse: collapse;
    margin: 0px;
}

tr {
    padding: 0px;
}

@media all and (max-width: 539px) {

    body, input, label, button, a.button, div.label, h2 {
        font-size: $fontSize - .1rem;
    }

    h1 {
        font-size: $fontSize + .1rem;
    }

    button, a.button {
        min-width: 2.5rem;
        min-height: 2.5rem;
    }

    input, button, a.button {
        border-radius: 0px;
        padding: .3rem;
    }

    .btn-group button:first-child, .btn-group a.button:first-child {
        border-top-left-radius: $borderRadius / 2;
        border-bottom-left-radius: $borderRadius / 2;
    }

    .btn-group button:last-child, .btn-group a.button:last-child {
        border-top-right-radius: $borderRadius / 2;
        border-bottom-right-radius: $borderRadius / 2;
    }

    td {
        padding: .2rem;
    }

    img  {
        width: 28px;
    }
}

@media all and (min-width: 540px) and (max-width: 719px) {

    body, input, label, button, a.button, div.label, h2 {
        font-size: $fontSize;
    }

    h1 {
        font-size: $fontSize + .3rem;
    }

    button, a.button {
        min-width: 3rem;
        min-height: 3rem;
    }

    input, button, a.button {
        border-radius: $borderRadius;
        padding: .5rem;
    }

    .btn-group button:first-child, .btn-group a.button:first-child {
        border-top-left-radius: $borderRadius;
        border-bottom-left-radius: $borderRadius;
    }

    .btn-group button:last-child, .btn-group a.button:last-child {
        border-top-right-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;
    }

    td {
        padding: .4rem;
    }

}

@media all and (min-width: 720px) {
    body, input, label, button, a.button, div.label, h2 {
        font-size: $fontSize + .3rem;
    }

    h1 {
        font-size: $fontSize + .5rem;
    }

    button, a.button {
        min-width: 4rem;
        min-height: 4rem;
    }

    input, button, a.button {
        border-radius: $borderRadius * 1.5;
        padding: 1rem;
    }

    .btn-group button:first-child, .btn-group a.button:first-child {
        border-top-left-radius: $borderRadius * 1.5;
        border-bottom-left-radius: $borderRadius * 1.5;
    }

    .btn-group button:last-child, .btn-group a.button:last-child {
        border-top-right-radius: $borderRadius * 1.5;
        border-bottom-right-radius: $borderRadius * 1.5;
    }

    td {
        padding: .6rem;
    }
}