// variables

$fontFamily: Segoe UI, sans-serif;
$boxShadow: 2px;
$boxShadow2: 1.5rem;
$buttonTextShadow: .6rem;
$borderRadius: 1vh;
$warn-color: #ffa040;
$critical-color: #ff4040;
$font-rel-size: 2.2;

@mixin fontSize($factor) {
    @media all and (max-width: 1023px) {
        font-size: $font-rel-size * 1vw * $factor;
    }

    @media all and (min-width: 1024px) {
        font-size: 1024px * $font-rel-size / 100 * $factor;
    }
}

// animations

@keyframes rotate {
    from {
        transform: rotate(-80deg);
    }

    to {
        transform: rotate(60deg);
    }
}

.animate-rotate {
    animation-name: rotate;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes jump {
    from {
        transform: translate(0px, 5%);
    }

    to {
        transform: translate(0px, -5%);
    }
}

.animate-jump {
    animation-name: jump;
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes warning {
    from {
        transform: scale(1.2) translate(0px, -5%);
    }

    to {
    }
}

.blink-warn {
    animation-name: warning;
    animation-duration: .8s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes critical {
    from {
        transform: scale(1.4) translate(0px, -10%);
    }

    to {
    }
}

.blink-critical {
    animation-name: critical;
    animation-duration: .4s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes critical-color {
    from {
        color: $warn-color;
        text-shadow: 0 0 3px $warn-color;
        transform: translate(0px, -.2ex);
    }

    to {
        color: $critical-color;
        text-shadow: 0 0 3px $critical-color;
    }
}

.blink-critical-color {
    animation-name: critical-color;
    animation-duration: .4s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

// global

body, h1, h2, label, div.label, button, a {
    font-family: $fontFamily;
}

h1 {
    @include fontSize(1.2);
}

body, label, button, a.button, .label, h2, .value-progress {
    @include fontSize(1);
}

body {
    margin: 0px;
    padding: 0px;
}

.app {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    margin: 0px;
    padding: 0px;
}

canvas.background {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin: 0px;
}

canvas.parcour {
    display: block;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: $borderRadius;
	box-shadow: 0px 0px $boxShadow black;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    top: 0px;
}

.page-header {
    flex-grow: 0;
}

.page-footer {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

.page-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;

	&.row {
        flex-direction: row;
	}
	
	&.scroll {
		margin-bottom: .5ex;
		border: 1px solid black;
		padding: .5ex .5em;
		overflow-y: scroll;
		justify-content: flex-start;
	}
	
    h1 {
        margin: 0px;
    }
}

.footer-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    flex-grow: 0;
    margin: .4rem;

    .value-progress {
        margin-left: .5rem;
    }
}

// nav-bar

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}

.nav-item {
    margin: .4rem;
}

// dialog

.dialog {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0rem;
    padding: .4rem;
    z-index: 3;
    overflow: auto;

    h1 {
        margin: .4rem;
    }

    h2 {
        font-weight: bold;
        margin: .2rem;
        margin-top: .3rem;
        margin-bottom: .1rem;
    }
}

.dialog[hidden] {
    display: none !important;
}

// insets

.inset {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: .25em;
}

// buttons

button, .button {
    color: black;
    background: rgb(193,198,200);
    background: radial-gradient(circle, rgba(193,198,200,1) 0%, rgba(134,143,153,1) 100%);
    min-width: 2.5em;
    min-height: 5ex;
    border: 1px solid black;
    border-radius: $borderRadius;
    font-family: $fontFamily;
	text-decoration: none;
    display: inline-block;
    box-shadow: 0 0 1rem rgba(black,.5), 0 0 4px black;
    outline: 0px none black;
    padding: .5ex .5em;

	&.large {
        padding: 1em 1em;
	}
}

button.checked, .button.checked {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(208,208,208,1) 100%);
    box-shadow: 0px 0px $boxShadow white;
    border-color: white;
}

.disabled, button[disabled], a[disabled] {
    opacity: .67;
}

.btn-group {
    display: inline-flex;
	flex-direction: row;
	align-items: stretch;

    button, .button {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-left-style: none;

        &:first-child {
            border-left-style: solid;
            border-top-left-radius: $borderRadius;
            border-bottom-left-radius: $borderRadius;
        }

        &:last-child {
            border-top-right-radius: $borderRadius;
            border-bottom-right-radius: $borderRadius;
        }
    }

	app-number {
		display: flex;
		align-items: stretch;
		flex-grow: 1;
		flex-shrink: 1;

		.value-progress {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            border-left-style: none;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
		}
	}
}

.btn-list {
    display: inline-flex;
    align-items: center;

    &>button, &>.button, &>div {
        margin-left: .5em;
        margin-right: .5em;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

	&.large {
		&>button, &>.button, &>div {
            margin-left: 1em;
            margin-right: 1em;
		}

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
	}
}

// form

.form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 1em;
    grid-row-gap: 1.2ex;
    justify-items: start;
    align-items: center;
}

// image

img {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    vertical-align: middle;
}

.composite-icon {
	img.bottom-left {
		position: absolute;
		transform: translate(-40px, 8px) scale(.5, .5);
	}

	img.top-right {
		position: absolute;
		transform: translate(-24px, -8px) scale(.5, .5);
	}
}

// colors

.team-select.yellow, .yellow .dialog {
    color: black;
    background: rgb(255,212,0);
    background: radial-gradient(circle, rgba(255,212,0,1) 0%, rgba(215,179,0,1) 100%);

    &.checked {
        background: rgb(255,244,203);
        background: radial-gradient(circle, rgba(255,244,203,1) 0%, rgba(255,219,44,1) 100%);  
        border-color: #FFF1BF;
        box-shadow: 0px 0px $boxShadow2 #FFF1BF;
        text-shadow: 0px 0px $buttonTextShadow white;
    }
}

.team-select.red, .red .dialog {
    color: black;
    background: rgb(255,4,0);
    background: radial-gradient(circle, rgba(255,4,0,1) 0%, rgba(214,3,0,1) 100%);

    &.checked {
        background: rgb(255,92,90);
        background: radial-gradient(circle, rgba(255,111,109,1) 0%, rgba(255,37,34,1) 100%);
        border-color: #FFB2B2;
        box-shadow: 0px 0px $boxShadow2 #FFB2B2;
        text-shadow: 0px 0px $buttonTextShadow white;
    }
}

.team-select.green, .green .dialog {
    color: black;
    background: rgb(21,194,0);
    background: radial-gradient(circle, rgba(21,194,0,1) 0%, rgba(26,130,13,1) 100%);

    &.checked {
        background: rgb(158,255,147);
        background: radial-gradient(circle, rgba(158,255,147,1) 0%, rgba(21,194,0,1) 100%);
        border-color: #A3E599;
        box-shadow: 0px 0px $boxShadow2 #A3E599;
        text-shadow: 0px 0px $buttonTextShadow white;
    }
}

.team-select.blue, .blue .dialog {
    color: white;
    background: rgb(44,47,224);
    background: radial-gradient(circle, rgba(44,47,224,1) 0%, rgba(47,48,110,1) 100%);

    &.checked {
        color: black;
        background: rgb(159,161,255);
        background: radial-gradient(circle, rgba(159,161,255,1) 0%, rgba(64,67,236,1) 100%);
        border-color: #BFC0EF;
        box-shadow: 0px 0px $boxShadow2 #BFC0EF;
        text-shadow: 0px 0px $buttonTextShadow white;
    }
}

.team-select.violet, .violet .dialog {
    color: white;
    background: rgb(128,26,224);
    background: radial-gradient(circle, rgba(128,26,224,1) 0%, rgba(69,32,103,1) 100%);

    &.checked {
        color: black;
        background: rgb(207,157,255);
        background: radial-gradient(circle, rgba(207,157,255,1) 0%, rgba(159,56,255,1) 100%);
        border-color: #CEBAE2;
        box-shadow: 0px 0px $boxShadow2 #CEBAE2;
        text-shadow: 0px 0px $buttonTextShadow white;
    }
}

.team-select.black, .black .dialog {
    color: white;
    background: rgb(50,50,50);
    background: radial-gradient(circle, rgba(50,50,50,1) 0%, rgba(0,0,0,1) 100%);

    &.checked {
        color: black;
        background: rgb(159,159,159);
        background: radial-gradient(circle, rgba(159,159,159,1) 0%, rgba(135,135,135,1) 44%, rgba(57,57,57,1) 100%);
        border-color: #CCCCCC;
        box-shadow: 0px 0px $boxShadow2 #CCCCCC;
        text-shadow: 0px 0px $buttonTextShadow white;
    }
}

// parcour

.parcour {

	display: flex;
	flex-direction: row;
	align-items: stretch;
	
	div, button, .button {
		margin: 0 .2em;
	}
}

.parcour-tile {
	display: inline-grid;
    grid-template-columns: repeat(2, auto);
    column-gap: .2em;
    row-gap: .2ex;
    justify-items: end;
    align-items: center;
	align-content: center;
}

// other

label, div.label {
    display: inline;
    font-weight: bolder;

    img {
        margin-right: .4rem;
    }
}

.value-progress {
    background: radial-gradient(circle, rgb(0,0,0) 0%, rgb(60,60,60) 100%);
    color: #c0ff80;
    font-family: monospace; // Quartz, LCD
    font-weight: bold;
    border: 1px solid black;
    border-radius: $borderRadius;
    display: inline-block;
    box-shadow: 0 0 2px black;
    text-shadow: 0 0 3px #c0ff80;
    text-align: right;
    padding: .2ex .5em;

    .footer-item & {
        padding: .2ex .4em;
    }

    .challenge & {
        @include fontSize(4);
    }

    .progress & {
        color: #ffc040;
        text-shadow: 0 0 3px #ffc040;
    }

    &.warn {
        color: $warn-color;
        text-shadow: 0 0 3px $warn-color;
    }

    &.critical {
        @extend .blink-critical-color;
    }
}

.yellow, .red, .green {
    h1 {
        color: black;
        text-shadow: -1px -1px 3px white, 1px 1px 2px white;
    }

    label, div.label {
        color: black;
        text-shadow: -1px -1px 3px white, 1px 1px 2px white;
    }

	.page-content.scroll {
		border-color: black;
	}
}

.blue, .violet, .black {
    h1 {
        color: white;
        text-shadow: -1px -1px 3px black, 1px 1px 2px black;
    }
	
    label, div.label {
        color: white;
        text-shadow: -1px -1px 3px black, 1px 1px 2px black;
    }

	.page-content.scroll {
		border-color: white;
	}
}

.error {
	color: red;
}

p {
    margin: 0px;
    padding: 0px;
    text-align: justify;
}

@media all and (max-height: 319px), all and (max-width: 639px) {

    .footer-item img {
        width: 16px;
        height: 16px;
        
        &.health {
            width: 32px;
        }
    }
}

@media all and (min-height: 320px) and (max-height: 639px) and (min-width: 640px), all and (min-width: 640px) and (max-width: 1023px) and (min-height: 320px) {

    .footer-item img {
        width: 24px;
        height: 24px;

        &.health {
            width: 32px;
        }
    }
}

@media all and (min-height: 640px) and (min-width: 1024px) {
}
