<img *ngIf="health &gt; 4" src="assets/icons/temperature_cold.png" class="health">
<img *ngIf="health === 4" src="assets/icons/temperature_cool.png" class="health">
<img *ngIf="health === 3" src="assets/icons/temperature_normal.png" class="health">
<img *ngIf="health === 2" src="assets/icons/temperature_warm.png" class="health blink-warn">
<img *ngIf="health === 1" src="assets/icons/temperature_hot.png" class="health blink-critical">
<img *ngIf="health &lt; 1" src="assets/icons/fire.png" class="blink-critical">
