<div class="page">
    <div class="page-header">
        <app-nav-bar></app-nav-bar>
    </div>
    <div class="page-content">
        <form [formGroup]="formGroup" class="form">
            <label>Sound</label>
            <div class="btn-group">
                <button [ngClass]="{checked: soundLevel == 0}" (click)="setSoundLevel(0)"><img src="assets/icons/sound_mute.png"></button>
                <button [ngClass]="{checked: soundLevel == 1}" (click)="setSoundLevel(1)"><img src="assets/icons/sound_none.png"></button>
                <button [ngClass]="{checked: soundLevel == 2}" (click)="setSoundLevel(2)"><img src="assets/icons/sound.png"></button>
            </div>
            <label for="settings.name">Name</label>
            <input id="settings.name" type="text" formControlName="name" (change)="onChangeName()">
        </form>
    </div>
</div>
